html, body {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
}

#textOutput {
    display: none;
}

#imageOutput {
    height:100%;
    width: 100%;
    overflow: hidden;
}

#imageOutput div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 2s;
    background-repeat: no-repeat;
    background-size: cover;
}

#imageOutput div.old {
    z-index:10;
    opacity: 0;
}

#imageOutput div.new {
    z-index:1;
    opacity: 1;
}

#saveButton {
    position: absolute;
    bottom:10px;
    left:10px;
    z-index:20;
}